

<div class="container">
  <h1 class="text-center">Here are all your meetings</h1>
	<br>
	<br>
	<br>
	<br>
	<br>
  <h2>As a mentee</h2>

  <% @user.mentee_meetings.each do |meeting| %>
    <li><%= meeting.start_time %> : <%= meeting.location %></li>

  <% end %>
<br>
<br>
<br>
<br>
<br>

  <h2>As a mentor</h2>
    <p>You currently don't have any meetings booked as a mentor!</p>
  </div>
