

<div class="container">
  <h1>Here are all your meetings</h1>
  <h2>As a mentee</h2>

  <% @user.mentee_meetings.each do |meeting| %>
    <li><%= meeting.start_time %> : <%= meeting.location %></li>

  <% end %>


  <h2>As a mentor</h2>
  <% @user.mentor_meetings.each do |meeting| %>
    <li><%= meeting.start_time %> : <%= meeting.location %></li>

  <% end %>

</div>

