.show-page {
  display: flex;
}

.map-review {
  align-items: right;
}

.reviews h2 {
  color: #515959
}

.mentor-info {
  margin-top: 20px;
  margin-right: 40px;
  align-items: center;
  width: 800px;
}

.mentor-info h2 {
  color: #515959
}


.mentor h2 {
  color: #515959
}

.mentee h2{
  color: #515959
}

.mentor-info p {
  width: 400px;
  align-items: center;
}

.icons-user {
  display: flex;
}

.fab fa-linkedin {
  width: 100px;
}

.stars {
  margin-left: 20px;
}

.reviews {
  margin-top: 20px;
  display:flex;
  width: 700px;
}


.notification-reviews {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  background: white;
  padding: 8px 16px;
  border: 1px ;
}

.notification-reviews .notification-content {
  flex-grow: 1;
  padding: 0 24px;
}

.notification-reviews .review-img-container {
  width: 60px;
}

.notification-reviews p {
  margin: 0;
  line-height: 1.4;
}

.notification-reviews small {
  color: #999999;
  font-weight: bold;
}
.notification .notification-actions {
  opacity: 0;
  display: flex;
  transition: ease .3s;
}

.notification:hover .notification-actions {
  opacity: 1;
}

.notification .notification-actions a {
  color: #999999;
  margin-left: 16px;
  font-size: 14px;
}

.notification .notification-actions a:hover {
  color: #555555;
}



.reviews p {
  margin-left: 20px;
}

.experiences {
  display: flex;
}

.experience-title {
  width: 200px;
}

.experience-years {
  width: 100px;
}

.fab {
  font-family: 'Font Awesome 5 Brands';
  font-size: 25px;
  color: #48ABA9;
}

.fa-linkedin {
  width: 30px;
}

.text-green {
  color: #48ABA9;
}

.text-grey {
  color: #8B9494;
}

// .map-review img {
//   width: 600px;
// }
