.show-page {
  display: flex;
}

.mentor-info {
  align-items: center;
}

.mentor-info p {
  width: 400px;
  align-items: center;
}
=======
}

.icons-user {
  display: flex;
}

.fab fa-linkedin {
  width: 100px;
}

.reviews {
  margin-top: 20px;
  display:flex;
  margin-top: 10px;
}

.reviews p {
  margin-left: 20px;
  margin-top: 5px;
}
// .map-review img {
//   width: 600px;
// }
