.card {
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-group {
	margin-top: 50px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 50px;
}


