
<div class="container">
  <div class="show-page">
    <div class="mentor-info">
      <%= cl_image_tag @user.photo.key, class: "avatar-show" %>
      <p><%= @user.name %></p>
      <p><%= @user.description %></p>
      <div class="icons-user">
      <a href="#"><i class="fab fa-linkedin"></i></a>
      <a href="#"><i class="fab fa-github"></i></a>

      </div>

    </div>

    <div class="map-review">
      <%= image_tag "map.png", alt:"altext" %>

    <div class="reviews">

    </div>

    </div>

  </div>

</div>


