<div class="header-background">
    
  <div class="header">
    <div class="text">
      <h1 class="text-center">Welcome to <strong>Oraculi</strong></h1>
      <h6 class="text-center">Use your talents to their <strong>full potential</strong>!</h6>
    </div>

    <div class="search">
      <div class="input">
      <%= form_tag root_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Search for a mentor or a skill"
        %>
      </div>

        <div>
          <%= submit_tag "Search", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>