<h1 class="text-center" style="margin-top: 40px">Meet the team behind <strong>Oraculi</strong></h1>

<div class="container">
	<div class="row">
		<div class="card-group">
		  <div class="card">
		    <img class="card-img-top" src="https://ca.slack-edge.com/T02NE0241-UCC9WMF43-6f6807edc16c-512" alt="Card image cap">
		    <div class="card-body">
		      <h5 class="card-title"><strong>Aline Gasparindo</strong></h5>
		      <p class="card-text">I graduated from University in 2009 (Public Relations) and since then, I have been working with w/ marketing and communications for large corporations. I moved to Canada in 2015 and, here, and I felt in love with the startup world. I'm super curious to learn how to code and get to know better what's behind the amazing projects the students build during the bootcamp.</p>
		      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
		    </div>
		  </div>
		  <div class="card">
		    <img class="card-img-top" src="https://ca.slack-edge.com/T02NE0241-UP32KNNV6-07afcf2cc0be-512" alt="Card image cap">
		    <div class="card-body">
		      <h5 class="card-title"><strong>Jeff Trempe</strong></h5>
		      <p class="card-text">I'm currently working for a company called Lufa Farms in administration and I'm passionate about coding. Web development is the next step for me and I'm really looking forward to it.</p>
		      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
		    </div>
		  </div>
		  <div class="card">
		    <img class="card-img-top" src="https://ca.slack-edge.com/T02NE0241-UP339S5AL-1455bada7882-512" alt="Card image cap">
		    <div class="card-body">
		      <h5 class="card-title"><strong>Lotfi Kaced</strong></h5>
		      <p class="card-text">With a strong academic and professional background in Finances, now working as a Software Implementation Specialist, I have always been very tech savvy and intrigued by the world of programming and web development. The <strong>Le Wagon</strong> full-stack bootcamp will undoubtedly allow me to gain the technical skills to take my career to where I want it to be. Also, hooman to <a href="https://www.instagram.com/sirkylomarcel/"> the most famous cat in Canada</a>.</p>
		      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
		    </div>
		  </div>
		</div>
	</div>
</div>