<div class="container">
  <h1 class="text-center">Adding a new experience</h1>


  <%= simple_form_for [@user, @experience] do |f| %>
    <%= f.association :skill, collection: Skill.all %>
    <%= f.input :years_of_experience  %>
    <%= f.submit "adding it" %>
  <% end %>

</div>
