
<div class="container">
  <h1 class="text-center">Adding a new review</h1>

  <%= simple_form_for [@mentor, @review] do |f| %>
    <%= f.input :content, as: :string  %>
    <%= f.input :rate, as: :integer %>
    <%= f.submit "adding it" %>
  <% end %>

</div>
